<html>
    <head>
        <title>TrendifyStocks - Lessons </title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='lessons.css') }}">
    </head>
    <body>
        <header>
            <nav class="sticky">
                <div class="welcome-message">
                    Welcome!
                </div>            
                <ul>
                    <li><a href="{{ url_for('home') }}">Home</a></li>
                    <li><a href="{{ url_for('lessons') }}">Lessons</a></li>
                    <li><a href="{{ url_for('practice') }}">Practice</a></li>
                    <li><a href="#">              </a></li>
                </ul>
            </nav>
        </header>
        <main>
            <h1 class="orange-title">Lessons</h1>
            <p class="apple">{{content}}</p>
        </main>
    </body>
</html>
